@{
    ViewData["Title"] = "New Bowler";
}

@model Bowler

<body>
    <fieldset>
        <form method="post">
            <div asp-validation-summary="All"></div>

            <section class="vh-100" style="background-color: #34568B;">
                <div class="container py-5 h-100">
                    <div class="row d-flex justify-content-center align-items-center h-100">
                        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                            <div class="card shadow-2-strong" style="border-radius: 1rem;">
                                <div class="card-body p-5 text-center">

                                    <h5 class="display-4 lh-1 mb-4" style="font-size:30px;">Enter Bowler Details</h5>

                                    <label asp-for="BowlerFirstName">First Name</label>
                                    <input asp-for="BowlerFirstName" />
                                    <br /><br />

                                    <label asp-for="BowlerMiddleInit">Middle Initial</label>
                                    <input asp-for="BowlerMiddleInit" />
                                    <br /><br />

                                    <label asp-for="BowlerLastName">Last Name</label>
                                    <input asp-for="BowlerLastName" />
                                    <br /><br />

                                    <label asp-for="BowlerAddress">Street Address</label>
                                    <input asp-for="BowlerAddress" />
                                    <br /><br />

                                    <label asp-for="BowlerCity">City</label>
                                    <input asp-for="BowlerCity" />
                                    <br /><br />

                                    <label asp-for="BowlerState">State</label>
                                    <input asp-for="BowlerState" />
                                    <br /><br />

                                    <label asp-for="BowlerZip">Zip</label>
                                    <input asp-for="BowlerZip" />
                                    <br /><br />

                                    <label asp-for="BowlerPhoneNumber">Phone Number</label>
                                    <input asp-for="BowlerPhoneNumber" />
                                    <br /><br />

                                    <label asp-for="TeamID">Team</label>
                                    <select asp-for="TeamID">
                                        <option value=""></option>
                                        @foreach (Team t in ViewBag.Teams)
                                        {
                                            <option value="@t.TeamID">@t.TeamName</option>
                                        }
                                    </select>
                                    <br /><br />

                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

        </form>
    </fieldset>
</body>